/* App.css */

.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.tab-buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.tab-buttons button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  margin-left: 10px;
  color: #333;
  transition: color 0.3s ease;
}

.tab-buttons button:hover {
  color: #007bff;
}

.tab-content {
  border: 1px solid #ccc;
  padding: 20px;
  min-height: 200px;
  text-align: left;
}

